.main-section {
  border: 1px solid rgba(173, 9, 20, 0.36);
  background: #fff;
}
.profile-header {
  background: rgba(173, 9, 20, 0.36);
  height: 150px;
}
.user-detail {
  margin: -50px 0 30px 0;
}

.user-details h5 {
  margin: 15px 0 5px 0;
}

.mat-card{
  width: 550px;
}
